#container {
  font-size: 20px;
}

#timer {
  width: 200px;
  height: 60px;
  font-size: 50px;
  background-color: rgb(66, 83, 45);
  color: rgb(233, 231, 102);
  margin: 0 auto;
  text-align: center;
  border: 3px solid rgb(165, 54, 54);
  border-radius: 20px;
}